.section {
	padding-bottom: 100px;
}

.image-wide {
	background: url(Jellyfish.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 200px;
	margin-top: 20px;
}

.content-header {
	font-family: "Quicksand", sans-serif;
	padding: 0 30px;
}

.content-text {
	padding: 0 30px;
	font-size: 18px;
	font-family: "Quicksand", sans-serif;
}

.builds {
	list-style-type: none;
    padding: 0 30px;
    margin: 0;
    width: 100%;
}

.builds-item {
    width: 200px;
    height: 150px;
    margin-right: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	display: inline-block;
}

.builds-item-image {
	width: 100%;
    height: 130px;
}

.builds-item-caption {
	width: 100%;
    height: 20px;
    display: block;
	text-align: center;
	font-family: "Quicksand", sans-serif;
}

.viewer {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
	display: none;
}

.viewer-container {
	height: 90%;
    width: 90%;
    position: absolute;
    top: 5%;
    margin-left: 5%;
}

.viewer-image {
	max-height: 100%;
	max-width: 100%;
    position: absolute;
}

.viewer-btn {
	width: 50px;
    max-height: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0);
    z-index: 100;
	text-align: center;
	cursor: pointer;
}

.viewer-btn:hover {
	background: rgba(255, 255, 255, .5);
}

.viewer-prev {
	left: 0;
}

.viewer-next {
    right: 0;
}

.viewer-icon {
	height: 30px;
    position: absolute;
    top: 45%;
    left: 10px;
}
