.content {
	padding: 30px;
	font-family: "Quicksand", sans-serif;
	font-size: 18px;
}

.content-header {
	margin: 0 0 10px 0;
}

.resources {
	margin:0;
	padding: 0;
	list-style-type: none;
}

.resources-item {
	display: block;
	color: black;
	text-decoration: none;
	margin-left: 20px;
	margin-bottom: 10px;
}

.resources-title {
	margin: 0;
	font-size: 18px;
}

.resources-subtext {
	color: #555;
}