/**
 *     Styles for the list of all stories
 *
 */
.stories {
	margin: 0;
	padding: 30px;
	list-style-type: none;
}

.stories-item {
	text-decoration: none;
	color: black;
	margin-bottom: 50px;
	display: block;
	font-family: "Quicksilver", sans-serif;
	font-size: 18px;
}

.story-title {
	margin: 0;
}

.story-date {
	display: block;
	margin: 3px 0 10px;
	color: #555;
	font-size: 14px;
}

/**
 *
 *     Styles for the individual blog posts
 *
 */
.storyTitle {
	padding: 30px 30px 0 30px;
	margin: 0;
	font-family: "Quicksand", sans-serif;
}

.images {
	margin: 0;
	padding: 30px;
	list-style-type: none;
}

.images-item {
	width: 100%;
	margin-bottom: 100px;
}

.image-image {
	width: 100%;
}

.image-caption {
	display: block;
    background: #efefef;
    padding: 10px;
    font-family: "Quicksand",sans-serif;
	font-size: 18px;
}