<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Always shows a header, even in smaller screens. -->
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	  <header class="mdl-layout__header">
		<div class="mdl-layout__header-row">
		  <!-- Title -->
		  <span class="mdl-layout-title">{{ site.title }}</span>
		  <!-- Add spacer, to align navigation to the right -->
		  <div class="mdl-layout-spacer"></div>
		  <!-- Navigation. We hide it in small screens. -->
		  <nav class="mdl-navigation mdl-layout--large-screen-only">
		  <a class="mdl-navigation__link" href="{{ site.baseurl }}/">Blog</a>
			{% for page in site.pages %}
				{% if page.title %}
					<a class="mdl-navigation__link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
				{% endif %}
			{% endfor %}
		  </nav>
		</div>
	  </header>
	  <div class="mdl-layout__drawer mdl-layout--small-screen-only">
		<span class="mdl-layout-title">{{ site.title }}</span>
		<nav class="mdl-navigation">
		  <a class="mdl-navigation__link" href="{{ site.baseurl }}/">Blog</a>
		  {% for page in site.pages %}
				{% if page.title %}
					<a class="mdl-navigation__link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
				{% endif %}
			{% endfor %}
		</nav>
	  </div>
	  <main class="mdl-layout__content">
		<div class="mdl-grid">
		
			{{ content }}
			
		</div>
	  </main>
	</div>

	</div>
  </body>

</html>
